.footer {
  width: 100%;
  height: 200px;
  background: #D0B8A8;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 200px;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-media svg {
    width: fit-content;
  color: white;
  margin: 20px;
  cursor: pointer;
}

.icons .github, .icons .instagram {
    font-size: 30px;
}

.icons .linkedin, .icons .email {
    font-size: 35px;
}

.footer p {
    width: 100%;
  color: white;
}

@media only screen and (max-width: 600px) {
  .icons .github {
    font-size: 45px;
  }

  .icons .email, .icons .linkedin, .icons .instagram {
    font-size: 55px;
  }
}
