.home {
    width: 100%;
    align-items: center;
}

.main {
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #D0B8A8;
}

.main h2 {
    font-size: 80px;
    height: fit-content;
    color: #F8EDE3;
}

.main h2 span {
    font-family: 'Sanchez';
    color: #85586F;
    background-image: linear-gradient(to right,#7e4f67, #85586F, #a06282, #85586F, #7e4f67); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
    animation: rainbow-animation 150s linear infinite;
}

@keyframes rainbow-animation {
    to {
        background-position: 4500vh;
    }
}

.main p {
    padding: 40px 0;
    color: white;
}

.main .prompt {
    width: 40%;
    font-size: 30px;
}

.icons {
    color: white;
    column-gap: 30px;
}

.main .icons .email {
    font-size: 70px;
}

.main .icons .github {
    font-size: 50px;
}

.main .icons .linkedin {
    font-size: 60px;
}

.skills {
    background-color: #f8f9f9;
    height: 100vh;
    font-size: 35px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
  
.skills h1, .about h1 {
    color: #AC7D88;
}

.skills h2 {
    color: #DEB6AB;
    font-size: 2.2rem;
    align-self: flex-start;
}

.skills p {
    width: 100%;
    font-size: 20px;
    font-family: 'Sanchez';
}
  
.skills .list {
    list-style: none;
    width: 50%;
}

.list li {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
}

.about {
    height: 100vh;
    width: 100%;
    background-color: #DFD3C3;
}

.about > p {
    padding: 0 0 50px 0;
    color: #AC7D88;
}

.about h1 {
    padding: 100px 0 0 0;
    font-size: 70px;
    color: #AC7D88;
}

.profile-pic {
    border: 1px solid #AC7D88;
    border-radius: 60%;
    height: 250px;
    width: 250px;
    object-fit: cover;
    transform: rotate(10deg);
    box-shadow: 0 0 30px #ccc;
}

.about-content {
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 50px;
}

.about-text {
    text-align:left;
    display: flex;
    justify-content: flex-start;
    width: 600px;
}

.about-text p {
    height: fit-content;
    color: #AC7D88;
    font-family: 'Sanchez';
    font-size: 20px;
    white-space: pre-line;
}

@media only screen and (max-width: 600px) {
    .main h2 {
        font-size: 40px;
    }
  
    .main .prompt {
        margin-top: 10px;
        font-size: 20px;
        width: 80%;
    }
  
    .skills {
        text-align: center;
    }
    .list {
        padding: 0;
    }
  
    .skills h2 {
        font-size: 30px;
    }
}