@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap');

.App {
    text-align: center;
    font-family: 'Space Grotesk', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

body {
    padding: 0;
}
